/* QQ¿Í·þ */
.QQbox{ z-index:99; width: 117px; right: 3px; top: 145px; position: absolute; font-size:12px;}
.QQbox .press{ right: 0; border: none; cursor: pointer;width: 26px; height: 136px;position: absolute;}
.QQbox .Qlist{ left: 0; width: 117px; background: url(siderIM_bg.gif) padding:5px;}
.QQbox .Qlist .b{ float: right; height: 6px; width: 117px; font-size: 1px; }
.QQbox .Qlist .infobox{ text-align:center; background:#bdc5cb; background-image:url(siderIM_infobox.gif); background-repeat:no-repeat;  padding:5px; line-height:14px; font-size:12px;color:#000; font-weight:700;}
.QQbox .Qlist .t{ background:url(siderIM_title.gif); height:34px;}
.QQbox .Qlist .b{ background:url(siderIM_bottom.gif); height:9px; overflow:hidden; }
.QQbox .Qlist .con{ background: url(siderIM_bg.gif); width:100%; padding: 10px 0px 10px 0px;}
.QQbox .Qlist .con h2{ height: 22px; font: bold 12px/22px "ËÎÌå"; background: url(siderIM_bg.gif) repeat-y -163px 0; border: 1px solid #3a708d; text-align: center; color:#fff;}
.QQbox .Qlist .con ul{ margin-left:0; text-align:center;}
.QQbox .Qlist .con ul li{ padding: 5px; list-style:none;}
a{ font-size:12px}
/*QQ END*/
