a{text-decoration: none;} /* 链接无下划线,有为underline */ 
a:link {color: #333333;} /* 未访问的链接 */
a:visited {color: #333333;} /* 已访问的链接 */
a:hover{color: #FF3300;} /* 鼠标在链接上 */ 
a:active {color: #FF3300;} /* 点击激活链接 */
body{
    FONT-FAMILY: "Arial, Helvetica, sans-serif";
    FONT-SIZE: 11.5px;
    text-decoration: none;
    line-height: 150%;
    background:#DBDBDB;
    SCROLLBAR-FACE-COLOR: #CCCCCC;
    SCROLLBAR-HIGHLIGHT-COLOR: #ACACAC;
    SCROLLBAR-SHADOW-COLOR: #CCCCCC;
    SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
    SCROLLBAR-ARROW-COLOR: #333333;
    SCROLLBAR-TRACK-COLOR: #ACACAC;
    SCROLLBAR-DARKSHADOW-COLOR: #757575;
    padding:0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
 /* 表单类 */
Button,input,textarea{
    FONT-FAMILY: "Verdana, Arial, Helvetica, sans-serif";
    FONT-SIZE: 11.5px;
	COLOR:#333333;
    text-decoration: none;
    line-height: 150%;
    background:#EAEAEA;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #013036;
	border-right-color: #013036;
	border-bottom-color: #013036;
	border-left-color: #013036;
	padding:0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
 /* 下拉菜单 */
select{
    FONT-FAMILY: "Verdana, Arial, Helvetica, sans-serif";
    FONT-SIZE: 11.5px;
	COLOR:#333333;
    text-decoration: none;
    line-height: 150%;
    background:#EAEAEA;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width:0px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #038291;
	border-right-color: #038291;
	border-bottom-color: #038291;
	border-left-color: #038291;
	padding:0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.xk {
	border: 1px solid #696969;
	margin-top: 5px;
	margin-bottom: 5px;
	background:#D8D8D8;
}
 /* 定义表CSS */
.table{
	border: 1px solid #939393;
	margin-top: 6px;
	margin-bottom: 6px;
	background:#C8C8C8;
}
 /* 菜单部分定义表CSS  */
.leftframetable{
	border: 1px solid #696969;
	margin-top: 3px;
	margin-bottom: 3px;
	background:#E1E1E1;
}
.bt {
	font-size: 12px;
	font-weight: bold;
	color: #EBEBEB;
	text-decoration: none;
}
td {
	color:#333333;
	font-size:12px;
}
 /* 定义大字体标题CSS  */
.xingmu {
    line-height: 20px;
	font-family: "Verdana, Arial, Helvetica, sans-serif";
	color:#333333;
	font-size:12px;
	font-weight:bolder;
	background:#DBDAD9;
	/*background-image : url("images/skin/title_bg.gif");*/
}
.back {
	background:#F2F2F2;
}
.Leftback {
	background:#B5B5B5;
}
.hback {
	background:#EAEAEA;
}
 /* 框架CSS  */
.bordercolor {
cursor:col-resize;
border-left:none;
border-bottom:none;
border-top:none;
border-right:solid;
border-right-width:5px;
border-right-color:#C6C5C5;
}
 /* 大字体CSS  */
.pagetile {
	font-weight:bolder;
	font-size:20px;
}
.ischeck
{
	color:#FF9900;
}
/*自定义CSS样式一，黄色*/
.CusCss1
{
	color:#FFFF00;
}
/*自定义CSS样式二,黄蓝*/
.CusCss2
{
	color:#00CCCC;
}
/*自定义CSS样式二,黄白*/
.CusCss3
{
	color:#FFCCCC;
}
.alps {
FONT-SIZE: 9pt; 
FILTER: Glow(Color=#0F42A6, Strength=2) dropshadow(Color=#0F42A6, OffX=2, OffY=1,); 
COLOR: #8AADE9; 
FONT-FAMILY: '宋体'
}
A.top:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.top:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.top:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: none
}
A.top:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: none
}
A.otherset:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.otherset:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.otherset:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: none
}
A.otherset:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: none
}
